/irb
.cache
.Rhistory
/gen
/ms.dat
/irb
/ref
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.dn
*.cache
*.bcf
*-concordance.tex
*.synctex.gz
/fm
/archive
cache
figure
*.bak
onyxProperties
/raw.csv
auto
/recruiting
/cms-calibrate.tex
/cms-calibrate.pdf
